{% extends '::base.html.twig' %}

{% block body -%}
    <h1 style="margin-top:50px;">Catégorie</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
        </tbody>
    </table>
	
	<br/>
	<a class="btn btn-default" href="{{ path('publication_edit', { 'id': entity.id }) }}">
	    Modifier
	</a>
	<br/><br/>
	
    <ul class="record_actions" style="list-style: none; margin-left:0px;">
	    <li>{{ form(delete_form) }}</li>
	</ul>
	
	<a class="btn btn-default" href="{{ path('publication') }}">
	    Voir tous les enregistrements
	</a>
	<br/><br/>
	
{% endblock %}
